@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
@keyframes btnIconRipple {
  0% {
    border-width: 4px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    border-width: 1px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  80% {
    border-width: 1px;
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
  }
  100% {
    opacity: 0;
  }
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  font-family: calibri, serif;
  background-color: white;
}
.lightbox-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.break {
  flex-basis: 100%;
  height: 0;
}
a {
  color: yellowgreen;
}
a:hover {
  color: yellow;
}
#logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.bg-gradient-primary-to-secondary {
  background-color: #0061f2;
  background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
}
#logo-container h1 {
  padding: 0.25em;
  border-radius: 100px;
}
#logo-container h1 {
  margin: auto;
}
#logo-container span {
  margin: auto;
}
#logo-container button {
  margin: 2em;
}
#logo {
  margin-top: 10%;
  background-image: url(../img/logo-txt-lg.png);
  background-repeat: no-repeat;
  width: 711px;
  height: 368px;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 100px;
}
.text-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15%;
}
.text-container h1 {
  font-size: 125px;
}
.text-container span {
  text-align: center;
  font-size: 25px;
  padding: 0.2em 0.5em;
  margin-top: -1.5em !important;
}
.fa-circle-thin {
  margin-top: -0.04em;
}
.fa-cube {
  margin-top: -0.1em;
  margin-left: 0.03em;
}
.sun {
  color: #edc145;
}
.box {
  color: #2ecfca;
}
.data {
  color: #2ecfca;
}
.x {
  color: #2ecfca;
  font-weight: bold;
}
.fa-cubes {
  margin-top: -0.15em;
  margin-left: 0.07em;
}
.fa-archive {
  margin-top: -0.05em;
  margin-left: 0.04em;
}
.fa-refresh {
  margin-top: -0.08em;
  margin-left: 0.01em;
}
.fa-toggle-on {
  margin-top: -0.08em;
  margin-left: 0.01em;
}
a[data-fslightbox] {
  align-self: center;
}
img.lightbox-preview {
  width: 400px;
  align-self: center;
  border-color: aquamarine;
  border-style: double;
}
.title {
  margin: auto;
  font-size: 36px;
  font-weight: 300;
}
.title strong {
  margin-left: 22%;
}
#splash {
  width: 100%;
  color: #fff;
  background-color: #1f2d41;
}
#splash svg {
  margin: -1px;
}
.top-banner {
  height: 200px;
  background-color: #1f2d41;
}
#bgCanvas {
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  left: 0;
  position: absolute;
}
#features div.card:nth-child(2) {
  margin-top: -100px;
}
body {
  font-family: "Open Sans", sans-serif;
}
.item-inner {
  display: inline-block;
  background: white;
  border: 1px solid rgba(0, 43, 54, 0.95);
  border-radius: 0.25rem;
  margin: auto;
  padding: 0.25rem;
}
.carousel .item {
  color: #999;
  overflow: hidden;
  min-height: 120px;
  font-size: 13px;
}
.carousel .media {
  position: relative;
  padding: 0 0 0 20px;
  margin-left: 20px;
}
.carousel .media img {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
}
.carousel .testimonial {
  color: #fff;
  position: relative;
  background: #9b9b9b;
  padding: 15px;
  margin: 0 0 20px 20px;
}
.carousel .testimonial::before,
.carousel .testimonial::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.carousel .testimonial::before {
  width: 20px;
  height: 20px;
  background: #9b9b9b;
  box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
}
.carousel .testimonial::after {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.carousel .item .row > div:first-child .testimonial {
  margin: 0 20px 20px 0;
}
.carousel .item .row > div:first-child .media {
  margin-left: 0;
}
.carousel .testimonial p {
  text-indent: 40px;
  line-height: 21px;
  margin: 0;
}
.carousel .testimonial p::before {
  content: '\94';
  color: #fff;
  font-weight: bold;
  font-size: 68px;
  line-height: 70px;
  position: absolute;
  left: -25px;
  top: 0;
}
.carousel .overview {
  padding: 3px 0 0 15px;
}
.carousel .overview .details {
  padding: 5px 0 8px;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #ff5555;
}
.carousel .carousel-control {
  width: 30px;
  height: 30px;
  background-color: #0061f2;
  text-shadow: none;
  top: 4px;
}
.carousel-control i {
  font-size: 16px;
}
.carousel-control.left {
  left: auto;
  right: 40px;
}
.carousel-control.right {
  left: auto;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators li {
  background-color: #0061f2;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230061f2' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230061f2' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
/*
, .carousel-indicators li.active {
	width: 18px;
    height: 18px;
	border-radius: 0;
	margin: 1px 4px;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #ff5555;    
    border: 5px double;    
}
*/
.star-rating li {
  padding: 0 2px;
}
.star-rating i {
  font-size: 14px;
  color: #ffdc12;
}
aside.card {
  float: right;
}
.card {
  border: none;
}
.container {
  margin-top: 5%;
}
.lightbox-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
a[data-fslightbox] {
  align-self: center;
}
img.lightbox-preview {
  width: 400px;
  align-self: center;
  border-color: aquamarine;
  border-style: double;
}
.video-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin: 0 auto;
  text-align: center;
}
.video-icon a {
  position: relative;
  background: #c054ff;
  background: -moz-linear-gradient(top, #c054ff 0%, #5274ff 100%);
  background: -webkit-linear-gradient(top, #c054ff 0%, #5274ff 100%);
  background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c054ff', endColorstr='#5274ff', GradientType=0);
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  color: #ffff;
  text-align: center;
  line-height: 60px;
}
.video-icon a::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 1px solid #FFF;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}
.video-icon a i {
  font-size: 20px;
  line-height: 1;
  position: relative;
  right: -2px;
  top: 2px;
}
.loading {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
  transition: 0.6s;
  align-items: center;
  justify-content: center;
}
.loading img {
  height: 80px;
  position: absolute;
  z-index: 101;
}
.loading .circle {
  background-color: #0A212E;
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 4px;
  border-top-color: gold;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 4px 1px 5px 2px rgba(25, 200, 206, 0.15);
  animation: zoom 2000ms infinite ease;
  transition: 0.6s;
}
#logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#logo-container h1 {
  padding: 0.25em;
  border-radius: 100px;
}
#logo-container h1 {
  margin: auto;
}
#logo-container span {
  margin: auto;
}
#logo-container button {
  margin: 2em;
}
#logo {
  margin-top: 4%;
  background-image: url(../img/dolphin-loop.png);
  width: 711px;
  height: 368px;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 100px;
}
