<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{ range $index, $element := .Params.images }}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{ $index }}"
      class="{{ if eq $index 0 }}active{{ end }}"></li>
    {{ end }}
  </ol>
  <div class="carousel-inner">
    {{ range $index, $element := .Params.images }}
    <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
      <a data-fslightbox href="{{ $element }}">
        <img style="width:100%;height:400px;" class="d-block w-100" src="{{ $element }}" alt="First slide">
      </a>
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>