<div class="card col" style="width: 18rem;">
    <span class="title fa-stack fa-spin-hover">
        <i class="far fa-circle fa-stack-2x sun"></i>
        <strong>{{ .emoji }}</strong>
    </span>

    <div class="card-body">
        <h2 class="card-title">{{ .name }}</h2>
        <p class="card-text">
            {{ .description | markdownify }}
        </p>
        <a href="{{ .link }}" class="btn btn-primary">{{ .link_text }}</a>
    </div>
</div>