<!-- Footer -->
<footer style="margin:auto;" class="page-footer font-small blue pt-4">
    <hr>
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-3">

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">


            </div>
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

            </div>
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Luke T O'Brien
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->


<!--

<section id="footer" class="container">
 <div class="row">
  <div class="col">
    blah blah blah
  </div>
<div class="col card">
    <div class="card-body">
      <h3 class="card-title">Contact</h3>
    </div>
    <ul class="list-group list-group-flush">
        {{ range .Site.Data.jollify.social.social_icons }}
        {{- if isset $.Site.Author .id }}
        <li class="list-group-item">
            <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
              </span>
              {{ .title }}
            </a>
          </li>
        {{- end -}}
      {{ end }}
    </ul>
</div>
</div>
</section>
-->