{{ $root := .Site.BaseURL }}
<header>
    <juel-nav>
        <h1 slot="title">Christ-O-Memes</h1>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <a href="{{ $root }}{{ .URL }}">
            {{ .Pre }}
            {{ .Title }}
            </a>
        {{ end }}
    </juel-nav>
</header>