<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
		{{ if .IsHome }}
			{{ .Site.Title }}
		{{ else }}
			{{ .Site.Title }} | {{ .Title }}
		{{ end }}
	</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}/favicon.ico">

    <!-- CSS here 
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/slicknav.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/flaticon.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/progressbar_barfiller.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/gijgo.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/animate.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/animated-headline.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/magnific-popup.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/fontawesome-all.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/themify-icons.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/slick.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/nice-select.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
-->	
	<link  rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
	<link  rel="stylesheet" type="text/css"  href="{{ .Site.BaseURL }}/style.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    