<div class="video-area section-bg2 d-flex align-items-center" data-background="{{ .Site.BaseURL }}img/intro-bg.jpg">
    <div class="container">
        <div class="video-wrap position-relative">
            <!--  data-background="img/video_bg/video-img.png" -->
            <!-- <div class="vidoe-img"><img class="img" src="assets/img/gallery/video-bg.svg" alt=""></div> -->
            <!-- Video icon -->
            <div class="video-icon">
                <a data-fslightbox href="app/vid/Intro.webm"><i
                        class="fas fa-play"></i></a>
            </div>
        </div>
    </div>
</div>