<script src="{{ .Site.BaseURL }}/js/juel.js"></script>
<!-- JS here -->
<script src="{{ .Site.BaseURL }}/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/fslightbox.js"></script> 
<!-- Jquery, Popper, Bootstrap -->
<script src="{{ .Site.BaseURL }}/js/vendor/jquery-1.12.4.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/popper.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="{{ .Site.BaseURL }}/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{{ .Site.BaseURL }}/js/owl.carousel.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{{ .Site.BaseURL }}/js/wow.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/animated.headline.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="{{ .Site.BaseURL }}/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="{{ .Site.BaseURL }}/js/jquery.nice-select.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="{{ .Site.BaseURL }}/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{{ .Site.BaseURL }}/js/jquery.counterup.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/waypoints.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.countdown.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="{{ .Site.BaseURL }}/js/contact.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.form.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.validate.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/mail-script.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{{ .Site.BaseURL }}/js/plugins.js"></script>
<script src="{{ .Site.BaseURL }}/js/main.js"></script>
