
{{ if isset .Params "side" }}
<aside class="card border-primary" style="width: 18rem;">
        {{ if isset .Params.side "emoji" }}
        <div class="card-header">
        <h2 class="card-title">
            <span class="title fa-stack fa-spin-hover">
            <i class="far fa-circle fa-stack-2x sun"></i>
            <strong>{{ .Params.side.emoji }}</strong>
        </span>
        {{ .Params.side.title }}</h2>
    </div>
        {{ end }}
    {{ if isset .Params.side "links" }}
    <ul class="list-group list-group-flush">
        {{ range .Params.side.links }}
      <li class="list-group-item">
          <a href="{{ .url }}" target="_blank" title="{{ .title }}">
              {{ .title }}
         </a>
      </li>
        {{ end }}
    </ul>
    {{ end }}
  </aside>
{{ end }}