<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <h2>Customer
        <b>Testimonials</b>
    </h2>
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        {{ range $i := seq (len .) }}
        <li data-target="#myCarousel" data-slide-to="{{ sub $i 1 }}"{{ if eq (sub $i 1) 0 }} class="active" {{ end }}></li>
        {{ end }}
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        {{ $scratch := newScratch }}
        {{ $scratch.Set "i" 0 }}
        {{ range . }}
        <div class="item carousel-item{{ if eq ($scratch.Get "i") 0 }} active{{ end }}">
            <div class="d-flex justify-content-center">
                {{ partial "testimonial.html" . }}
            </div>
        </div>
        {{ $scratch.Add "i" 1 }}
        {{ end }}
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</div>