<div class="col-sm-6 item-inner">
    <div class="testimonial">
        {{ .comment | markdownify }}
    </div>
    <div class="media">
        <div class="media-left d-flex mr-3">
            {{ if isset . "emoji" }}
            <span class="title fa-stack fa-spin-hover">
                <i class="far fa-circle fa-stack-2x sun"></i>
                <strong>{{ .emoji }}</strong>
            </span>
            {{ else }}
            <img src="/examples/images/clients/1.jpg" alt=""> {{ end }}
        </div>
        <div class="media-body">
            <div class="overview">
                <div class="name">
                    <b>{{ .contact }}</b>
                </div>
                <div class="details">{{ .job_title }} / {{ .company }}</div>
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star-o"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>