
@keyframes zoom {
    0% {
        -webkit-transform : rotate(0deg);
        transform         : rotate(0deg);
        -webkit-transition: .6s;
        -o-transition     : .6s;
        transition        : .6s
    }

    100% {
        -webkit-transform : rotate(360deg);
        transform         : rotate(360deg);
        -webkit-transition: .6s;
        -o-transition     : .6s;
        transition        : .6s
    }
}
@keyframes btnIconRipple {
    0% {
        border-width     : 4px;
        -webkit-transform: scale(1);
        transform        : scale(1)
    }

    50% {
        border-width     : 1px;
        -webkit-transform: scale(1.5);
        transform        : scale(1.5)
    }

    80% {
        border-width     : 1px;
        -webkit-transform: scale(1.9);
        transform        : scale(1.9)
    }

    100% {
        opacity: 0
    }
}
