@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
    }
}

@media (max-width: 575px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
    }
}

.header-area .header-top {
    padding      : 9px 130px;
    border-bottom: 1px solid #f0f1f2
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .header-top {
        padding: 9px 30px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-top {
        padding: 9px 15px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-top {
        padding: 9px 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-top {
        padding: 9px 20px
    }
}

@media (max-width: 575px) {
    .header-area .header-top {
        padding: 9px 0px
    }
}

.header-area .header-bottom {
    padding: 0px 130px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .header-bottom {
        padding: 0px 30px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-bottom {
        padding: 0px 15px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-bottom {
        padding: 15px 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-bottom {
        padding: 15px 20px
    }
}

@media (max-width: 575px) {
    .header-area .header-bottom {
        padding: 15px 20px
    }
}

.main-header {
    position: relative;
    z-index : 3
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .main-header .main-menu {
        margin-right: 30px
    }
}

.main-header .main-menu ul li {
    display : inline-block;
    position: relative;
    z-index : 1;
    margin  : 0 27px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header .main-menu ul li {
        margin: 0 14px
    }
}

.main-header .main-menu ul li a {
    color             : #fff;
    font-weight       : 600;
    font-size: large;
    padding           : 28px 2px;
    display           : block;
    -webkit-transition: .3s;
    -moz-transition   : .3s;
    -o-transition     : .3s;
    transition        : .3s;
    text-transform    : capitalize
}

.main-header .main-menu ul li a::before {
    content           : "";
    position          : absolute;
    width             : 0;
    background        : #4778FF;
    bottom            : 30px;
    -webkit-transition: .4s;
    -o-transition     : .4s;
    transition        : .4s;
    right             : 5px;
    left              : -5px;
    height            : 4px;
    z-index           : -1
}

.main-header .main-menu ul li:hover>a {
    color: #fff
}

.main-header .main-menu ul li:hover>a::before {
    left              : 0;
    right             : auto;
    width             : 100%;
    -webkit-transition: .4s;
    -o-transition     : .4s;
    transition        : .4s
}

.main-header .main-menu ul ul.submenu {
    position          : absolute;
    width             : 170px;
    background        : #fff;
    left              : 0;
    top               : 90%;
    visibility        : hidden;
    opacity           : 0;
    box-shadow        : 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding           : 17px 0;
    -webkit-transition: .3s;
    -moz-transition   : .3s;
    -o-transition     : .3s;
    transition        : .3s
}

.main-header .main-menu ul ul.submenu>li {
    margin-left: 7px;
    display    : block
}

.main-header .main-menu ul ul.submenu>li>a {
    padding  : 6px 10px !important;
    font-size: 16px;
    color    : #367FFF
}

.main-header .main-menu ul ul.submenu>li>a::before {
    position: unset
}

.main-header .main-menu ul ul.submenu>li>a:hover {
    color       : #404DFF;
    background  : none;
    padding-left: 13px !important
}

.main-header ul>li:hover>ul.submenu {
    visibility: visible;
    opacity   : 1;
    top       : 100%
}

.header-transparent {
    position: absolute;
    top     : 0;
    right   : 0;
    left    : 0;
    z-index : 9
}

.header-sticky.sticky-bar {
    background: #404DFF
}

.header-sticky.sticky-bar.sticky .main-menu ul li a {
    padding: 20px 20px !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-sticky.sticky-bar.sticky {
        padding: 15px 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-sticky.sticky-bar.sticky {
        padding: 15px 0px
    }
}

@media (max-width: 575px) {
    .header-sticky.sticky-bar.sticky {
        padding: 15px 0px
    }
}
