.lightbox-container {
  width         : 100%;
  position      : relative;
  display       : flex;
  flex-direction: column;
  padding: 10%;
}

a[data-fslightbox] {
  align-self: center;
}

img.lightbox-preview {
  width       : 400px;
  align-self  : center;
  border-color: aquamarine;
  border-style: double;
}

.video-icon {
  position  : absolute;
  right     : 0;
  top       : 50%;
  transform : translateY(-50%);
  left      : 0;
  margin    : 0 auto;
  text-align: center;

  a {
    position  : relative;
    background: #c054ff;
    background: -moz-linear-gradient(top, #c054ff 0%, #5274ff 100%);
    background: -webkit-linear-gradient(top, #c054ff 0%, #5274ff 100%);
    background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#c054ff', endColorstr='#5274ff', GradientType=0);


    color        : #ffff;
    width        : 60px;
    height       : 60px;
    display      : inline-block;
    text-align   : center;
    line-height  : 60px;
    border-radius: 50%;

    color      : #ffff;
    text-align : center;
    line-height: 60px;

    &::before {
      content          : '';
      display          : inline-block;
      position         : absolute;
      top              : -2px;
      left             : -2px;
      bottom           : -2px;
      right            : -2px;
      border-radius    : inherit;
      border           : 1px solid #FFF;
      -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
      animation        : btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
    }

    i {
      font-size  : 20px;
      font-size  : 20px;
      line-height: 1;
      position   : relative;
      right      : -2px;
      top        : 2px;
    }
  }
}