.loading {
    background-color  : #f7f7f7;
    width             : 100%;
    height            : 100%;
    position          : fixed;
    top               : 0;
    left              : 0;
    right: 0;
    bottom: 0;
    display           : flex;
    z-index: 100;
    transition        : .6s;
    align-items       : center;
    justify-content   : center;

    img {
        height  : 80px;
        position: absolute;
        z-index : 101;
    }

    .circle {
        background-color   : #0061f2;
        width              : 100px;
        height             : 100px;
        position           : relative;
        border-style       : solid;
        border-width       : 4px;
        border-top-color   : gold;
        border-bottom-color: transparent;
        border-left-color  : transparent;
        border-right-color : transparent;
        border-radius      : 50%;
        box-shadow         : 4px 1px 5px 2px rgba(25, 200, 206, 0.15);
        animation          : zoom 2000ms infinite ease;
        transition         : .6s;
    }
}