
#logo-container {
    //position: absotute;
    //display: inline-block;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      
    }
    
#logo-container h1 {
    padding: 0.25em;
    border-radius: 100px;
  }
  #logo-container h1 {
    margin: auto;
  }
  #logo-container span {
    margin: auto;
  }
  
  #logo-container button {
  margin: 2em;
  }
  
  #logo {
  margin-top: 10%;
  background-image: url(img/logo-txt-lg.png);
background-repeat: no-repeat;
  width: 711px;
  height: 368px;
  }
  .logo img {
    height:100px;
  }