body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/92/%D0%9F%D0%B0%D0%BD%D1%82%D0%BE%D0%BA%D1%80%D0%B0%D1%82%D0%BE%D1%80_%28%D0%A1%D0%B2._%D0%91%D0%BE%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B8%D1%86%D0%B0%2C%D0%91%D0%B8%D1%82%D0%BE%D0%BB%D0%B0%29.jpg);
    background-position: center;
    background-size: cover;
}
.flex {
    display: flex;
    justify-content: center;
}
#random {
    --ripple: 1;
}
juel-nav::part(items) {
    align-items: center;
}
.top-banner {
    height: 100px;
}
#container {
    background-color:rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 900px)  {
    header {
        height: calc(var(--vh) * 20);
    }
    #content {
        height: calc(var(--vh) * 80);
    }
    #memes {
        height: 100%;
    }
    #memes * {
        height: 100%;
    }
    footer {
        position: fixed;
        bottom: 0;
    }
    #controls {
        display: none;
    }
 }

body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style : normal;
    font-size  : 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family   : "Raleway", sans-serif;
    color         : #1D2547;
    margin-top    : 0px;
    font-style    : normal;
    font-weight   : 400;
    text-transform: normal
}

p {
    font-family  : "Muli", sans-serif;
    color        : #10285d;
    font-size    : 16px;
    line-height  : 30px;
    margin-bottom: 15px;
    font-weight  : normal
}

a {
    color: #635c5c
}

a:hover {
    color: #fff
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none
}

a,
button {
    color  : #fff;
    outline: medium none
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

ul {
    margin : 0px;
    padding: 0px
}

li {
    list-style: none
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top   : 0 none;
    margin       : 30px 0;
    padding      : 0
}
