<!DOCTYPE html>
<html>
    <meta name="robots" content="noindex,nofollow"></meta>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "preloader.html" . -}}
        {{- partial "header.html" . -}}
        {{ if isset .Params "images" }}
        {{- partial "carousel.html" . -}}
        {{ else }}
        <div class="top-banner bg-gradient-primary-to-secondary"></div>
        {{ end }}
        <div id="container" class="container">
            {{- partial "side.html" . -}}
                <div id="content">
                        {{ .Content }}
                </div>
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}
    </body>
</html>