{{ define "main" }}
<nav id="controls" class="flex">
    <juel-button id="random" text="Random"></juel-button>
    <div id="the-filters" class="container">
            <label for="category-select">Category:</label>
            <select class="form-control" id="category-select" data-filter="category">
              <option>*</option>
              <option>Mind</option>
              <option>Strength</option>
              <option>Spirit</option>
            </select>
    </div>
</nav>
<div id="memes" class="flex">
    <filtered-list filters="the-filters">
<juel-scroll-pane random="#random" controls="true">
    {{ range $.Site.Data.memes }}
    <juel-flip data-filter-category="{{.Category}}">
        <div slot="front">
            <img title="{{ .Title }}" src="memes/{{ .Name }}"/>
        </div>
        <div slot="back" style="background: {{ .Background }};">
            {{ .Description | markdownify }}
        </div>
    </juel-flip>
    {{ end }}
</juel-scroll-pane>
</filtered-list>
</div>
<!--
<section id="testi">
    {{ with .Site.Data.testimonials }} {{ partial "testimonials.html" . }} {{ end }}
</section>
-->
{{ end }}
