{{ $preview := default (.Get 0) (.Get 1) }}
{{ $previewIsVideo := findRE "youtube|\\.webm" $preview }}
{{ $isVideo := findRE "youtube|\\.webm" (.Get 0) }}
{{ $previewExt := findRE "\\.\\w{3}" $preview }}

<div class="lightbox-container">
    {{ if $isVideo }}
    <div class="video-icon">
    <a data-fslightbox href="{{ .Get 0 }}">
        <i class="fas fa-play"></i></a>
    </div>
{{ end }}
    {{ if not $isVideo }}
<a data-fslightbox href="{{ .Get 0 }}">
    {{ end }}
    {{ if not $previewIsVideo }}
    {{ if not $previewExt }}
    <h2 class="lightbox-preview">{{ $preview }}</h2>
    {{ else }}
    <img class="lightbox-preview" src="{{ $preview }}">
    {{ end }}
    {{ end }}

{{ if not $isVideo }}
</a>
{{ end }}

</div>
